<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Status>
    <Entry>Away From Desk</Entry>
    <Entry>At Lunch</Entry>
    <Entry>Down-Time</Entry>
    <Entry>In A Meeting</Entry>
    <Entry>On Break</Entry>
    <Entry>Opened Software</Entry>
    <Entry>Phone Interaction</Entry>
    <Entry>Special Projects</Entry>
    <Entry>Tech II Time</Entry>
    <Entry>Working on E-mail</Entry>
  </Status>
  <CallType>
    <Entry>Customer From CS</Entry>
    <Entry>Customer From PB</Entry>
    <Entry>Customer From Sales</Entry>
    <Entry>Direct From CS</Entry>
    <Entry>Direct From Customer</Entry>
    <Entry>Direct From PB</Entry>
    <Entry>Direct From Sales</Entry>
  </CallType>
  <CustomerType>
    <Entry>Conference</Entry>
    <Entry>Follow-Up</Entry>
    <Entry>No Customer</Entry>
    <Entry>Transfer</Entry>
  </CustomerType>
</configuration>